*   {
        margin:0;
        padding:0;
    }

h1 {
    color:crimson;
    width: 400px;
}

h2 {
    border: solid;
    border-color: white;
    color:white;
    width: 400px;
}

div {
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

body {
    background:black;
}